.footer{
  height: 200px;
  background-color: pink;
  font-size: 50px;
  text-align: center

}

.box1 {
   height: 600px;
  }
  
  .box2 {
    background-color: gray;
    height: 500px;
    
   
  }
  
  .box3 {
    background-color: gray;
    height: 500px;
  }
  
  .box4 {
    background-color: gray;
    height: 500px;
  }
  
  .box5 {
    background-color: gray;
    height: 500px;
  }


  .box6{
    background-color:white;
    height: 500px;
    
    display: flex;
    
  }
   

  
  .box7 {
    background-color: deeppink;
    height: 500px;
    display: flex;
  }
  
  .box8 {
    background-color: teal;
    height: 300px;
    text-align: center;
    padding: 100px;
  }
  
  .box9 {
    background-color: gray;
    height: 300px;
  }
  
  .box10 {
    background-color: gold;
    height: 300px;
  }
  
  .box11 {
     height: 200px;
     padding-top: 120px;
  }
  
  .box12 {
   height: 130px;
  }

  .box15{
    background-image: url(ziyo.jpg);
    background-size: 600px;
    font-size: 50px;
    text-align: end;
    height: 600px
    
  }

  .box16{
    background-image: url(satomi.jpg);
    background-size: 600px;
    height: 600px
  }
 a:hover{
   color : #ff7900;
   text-decoration: none;
 }

 a{
  position: relative;
  display: inline-block;
  transition: .3s;
  background-color: gray;
}

a2::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #31aae2;
  transition: .3s;
  transform: translateX(-50%);
}

a2:hover::after{
  width: 100%;
}

a3{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

a3:hover{
  background-position: -100% 0;
  color: #fff;
}

.btn{
  background-color: gray;
}

.hero{
  height: 500px;
  width: 400px;
 }

 .mizugi{
   width: 400px;
 }

 .enako1{
   height: 500px;
   width: 400px;
 }

.enako2{
  height: 500px;
  width: 400px;
}

.aida３{
  height: 300px;
  
}

.aida2{
  height: 100px;
  font-size: 100px;
  
}




